/*	--------------------------------------------------
	::Global Reset & Standards
	-------------------------------------------------- */
	
	/* 
		Eric Meyer's CSS Reset
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
   		License:none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin:0;
		padding:0;
		border:0;
		font:inherit;
		vertical-align:baseline;
	}
	html {
		font-size:62.5%; 
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display:block;
	}
	body {
		line-height: 1;
	}
	img {
		vertical-align:top;
	}	
	ol, ul {
		list-style:none;
	}
	blockquote, q {
		quotes:none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content:'';
		content:none;
	}
	table {
		border-collapse:collapse;
		border-spacing:0;
	}

	sub {vertical-align:sub;}
	sup {vertical-align:super;}



	/* Webfonts
	------------------------------------------- */
	@font-face{
		font-family:"Avenir Light";
		src:url("fonts/avenir_LT_W01_35_light/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix");
		src:url("fonts/avenir_LT_W01_35_light/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot"),url("fonts/avenir_LT_W01_35_light/4fb9056b-4ac3-488b-9bac-75741b0ff0bd.woff2") format("woff2"),url("fonts/avenir_LT_W01_35_light/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),url("fonts/avenir_LT_W01_35_light/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),url("fonts/avenir_LT_W01_35_light/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
	}
	@font-face{
		font-family:"Avenir Book";
		src:url("fonts/avenir_LT_W01_45_book/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix");
		src:url("fonts/avenir_LT_W01_45_book/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot"),url("fonts/avenir_LT_W01_45_book/9bcb625d-81de-48c2-ba0c-664558d197e3.woff2") format("woff2"),url("fonts/avenir_LT_W01_45_book/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"),url("fonts/avenir_LT_W01_45_book/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"),url("fonts/avenir_LT_W01_45_book/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
	}
	@font-face{
		font-family:"Avenir";
		src:url("fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix");
		src:url("fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot"),url("fonts/65cde95a-ac33-4c65-8198-e37857968d1a.woff2") format("woff2"),url("fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"),url("fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"),url("fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
	}
	@font-face{
		font-family:"Avenir Demi";
		src:url("fonts/avenir_next_LT_W01_demi/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
		src:url("fonts/avenir_next_LT_W01_demi/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),url("fonts/avenir_next_LT_W01_demi/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),url("fonts/avenir_next_LT_W01_demi/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),url("fonts/avenir_next_LT_W01_demi/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),url("fonts/avenir_next_LT_W01_demi/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
	}
	@font-face{
		font-family:"Avenir Bold";
		src:url("fonts/avenir_next_LT_W01_bold/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
		src:url("fonts/avenir_next_LT_W01_bold/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),url("fonts/avenir_next_LT_W01_bold/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),url("fonts/avenir_next_LT_W01_bold/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),url("fonts/avenir_next_LT_W01_bold/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),url("fonts/avenir_next_LT_W01_bold/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
	}

	
	@font-face{
		font-family:"Avenir Rounded";
		src:url("fonts/avenir_next_W01_rounded_medium/24bb7030-aa2b-4728-8c50-0d5a19597835.eot?#iefix");
		src:url("fonts/avenir_next_W01_rounded_medium/24bb7030-aa2b-4728-8c50-0d5a19597835.eot?#iefix") format("eot"),url("fonts/avenir_next_W01_rounded_medium/5559fceb-87c2-4a44-9925-ad308acec971.woff2") format("woff2"),url("fonts/avenir_next_W01_rounded_medium/c4f4af3e-b5b8-4fb3-b707-670bbc765c69.woff") format("woff"),url("fonts/avenir_next_W01_rounded_medium/58765556-0682-4c0d-a380-ddc721268253.ttf") format("truetype"),url("fonts/avenir_next_W01_rounded_medium/5ba56fed-120b-437e-b74b-fdb7563b5f1b.svg#5ba56fed-120b-437e-b74b-fdb7563b5f1b") format("svg");
	}
	@font-face{
		font-family:"Avenir Rounded Bold";
		src:url("fonts/avenir_next_W01_rounded_bold/cd6aeb84-ef25-4d28-b102-37eb26568e30.eot?#iefix");
		src:url("fonts/avenir_next_W01_rounded_bold/cd6aeb84-ef25-4d28-b102-37eb26568e30.eot?#iefix") format("eot"),url("fonts/avenir_next_W01_rounded_bold/a0a87e49-3806-4285-adb4-3d8c713e526c.woff2") format("woff2"),url("fonts/avenir_next_W01_rounded_bold/bfaf76ed-3cdf-4258-8336-eb4e18cbd68b.woff") format("woff"),url("fonts/avenir_next_W01_rounded_bold/68ebb896-409e-4046-9a76-1a0a59b0ef93.ttf") format("truetype"),url("fonts/avenir_next_W01_rounded_bold/4c31487a-bf33-4f62-9c50-602fbf4699bf.svg#4c31487a-bf33-4f62-9c50-602fbf4699bf") format("svg");
	}


	/* Global Reset & Standards
	------------------------------------------- */
	*, *:before, *:after { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -ms-box-sizing:border-box; }
	body { 
		position:relative; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-style:normal; line-height:1; color:#fff; background:#000;
		-webkit-text-size-adjust:none; text-size-adjust:none;
		-webkit-font-smoothing:antialiased; -webkit-touch-callout: none -webkit-overflow-scrolling: touch;
	    -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
	}

	/* Links
	------------------------------------------- */
	a img { border:none; }
	a { 
		color:#fff; text-decoration: none; line-height: inherit; 
		-webkit-transition: color .1s linear; 
		-moz-transition: color .1s linear; 
		transition: color .1s linear;
	}
	a:hover { color:#fff; }
	a:focus { color:#fff; outline: none; }
	a:visited { color:#fff; }
	p a, p a:visited { line-height: inherit; }

	/* Misc
	------------------------------------------- */
	img, object, embed { 
		max-width: 100%; height: auto;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	object, embed { height: 100%; }
	img { -ms-interpolation-mode: bicubic; }

	/* Reset for strange margins by default on <figure> elements */
	figure { margin: 0; }


	/* Base Type Styles Using Modular Scale
	------------------------------------------- */
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin:0; padding:0; font-size:13px; direction: ltr; }

	p { font-family:'Avenir Book', Arial, Helvetica, sans-serif; color:#fff; font-weight:normal; line-height: 1.2; margin-bottom:5px; }

	h1, h2, h3, h4, h5, h6 { font-family:'BreeSerif', Georgia, serif; font-weight:normal; font-style:normal; line-height:1.2; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font:inherit; color:inherit; text-decoration:none; }

	hr { border:0; border-top:1px solid #c9c9c9; border-bottom:1px solid #fff; clear: both; margin:0; height: 0; }

	em, i { font-style: italic; line-height: inherit; }
	strong, b { font-weight: bold; line-height: inherit; }
	small { font-size: 60%; line-height: inherit; }
	code { font-weight: bold; background: #ffff99; }


	/* Lists
	------------------------------------------- */
	ul { list-style:none outside; }
	ol { list-style:none outside; }


	/* Grid
	------------------------------------------- */
	.row { width:100%; margin:0 auto; max-width:960px; }

	.column, .columns { float: left; min-height:1px; padding:0; position: relative; }
	.column.centered, .columns.centered { float: none; margin: 0 auto; }

	.one, .row .one       { width: 8.33333%; }
	.two, .row .two       { width: 16.66667%; }
	.three, .row .three   { width: 25%; }
	.four, .row .four     { width: 33.33333%; }
	.five, .row .five     { width: 41.66667%; }
	.six, .row .six       { width: 50%; }
	.seven, .row .seven   { width: 58.33333%; }
	.eight, .row .eight   { width: 66.66667%; }
	.nine, .row .nine     { width: 75%; }
	.ten, .row .ten       { width: 83.33333%; }
	.eleven, .row .eleven { width: 91.66667%; }
	.twelve, .row .twelve { width: 100%; }

	/* Nicolas Gallagher's micro clearfix */
	.row { *zoom: 1; }
	.row:before, .row:after { content:""; display: table; }
	.row:after { clear: both; }

	.row .row { max-width:none; min-width:0; width:auto; overflow:visible; }


/*	--------------------------------------------------
	Forms
	-------------------------------------------------- */
	/* Placeholders */

	::-webkit-input-placeholder { color:#BABABA; opacity: .5; }
	::-moz-placeholder { color:#BABABA;  opacity: .5;  }
	:-ms-input-placeholder { color:#BABABA;  opacity: .5;  }
	input:-moz-placeholder { color:#BABABA;  opacity: .5;  }
	:-ms-input-placeholder { color:#BABABA;  opacity: .5;  }

	input[type=search]::-webkit-search-decoration,
	input[type=search]::-webkit-search-cancel-button,
	input[type=search]::-webkit-search-results-button,
	input[type=search]::-webkit-search-results-decoration { display: none; }
	input[type="search"] { -webkit-appearance: textfield; }	 /* the webkit overrides need to stay at the top */

	/* fix date input width */
	input::-webkit-outer-spin-button,  
	input::-webkit-inner-spin-button { -webkit-appearance:none; margin:0; }

	input, textarea { -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }	
	
	input[type=date]::-webkit-calendar-picker-indicator { -webkit-appearance: none;  }	

	::-ms-clear { display: none; }
	::-ms-reveal { display: none; }


	label { position:relative; display:block; font-family:'amaticbold', Arial, Helvetica, sans-serif; font-size:167%; font-weight:normal; color:#337253; margin:5px 0 10px; }

	form { margin:0; }

	.form .row { margin:0 -20px; }
	.form .columns { padding:0 20px; }

	input[type="text"], 
	input[type="password"], 
	input[type="email"], 
	input[type="date"], 
	input[type="tel"], 
	input[type="number"], 
	textarea {
		display:block;
		width:100%;
		border:0;
		margin:0;
		-webkit-appearance: none;
		border:1px solid #dbdbdc;
		font-family: Arial,  Helvetica, sans-serif;
		color:#000;
		font-size: 116.0%;
		font-weight:400;
		font-style: normal;
		font-variant: normal;
		text-align: left;
		background-color: #fff;
		-webkit-transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
	}
	textarea {overflow: auto;}
	input[type="text"].error, 
	input[type="password"].error, 
	input[type="email"].error, 
	input[type="date"].error, 
	input[type="tel"].error, 
	input[type="number"].error, 
	textarea.error {
		border:1px solid #ff0000;
		-webkit-box-shadow: 0px 0px 21px -1px rgba(173,173,173,1);
		-moz-box-shadow: 0px 0px 21px -1px rgba(173,173,173,1);
		box-shadow: 0px 0px 21px -1px rgba(173,173,173,1);
	}

	input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="tel"], input[type="number"] { padding:0 20px;margin-bottom:10px; background-color: #fff;border: 0; font-family: "Avenir Demi", sans-serif; font-size: 138.5%; height: 48px; }
	textarea { padding: 10px 20px; resize:none; /*height:100px;*/ margin-top:15px; height: 80px;}
	
	input[type="text"]:focus, 
	input[type="password"]:focus, 
	input[type="email"]:focus, 
	input[type="date"]:focus, 
	input[type="tel"]:focus, 
	input[type="number"]:focus, 
	textarea:focus { opacity:1; outline: none !important; }
	
	input[type="text"][disabled], 
	input[type="password"][disabled], 
	input[type="email"][disabled], 
	input[type="date"][disabled], 
	input[type="date"][disabled], 
	input[type="tel"][disabled], 
	input[type="number"][disabled], 
	textarea[disabled] { opacity:0.5; }

	.error label { color:#C1272D; }
	.error input[type="text"], 
	.error input[type="password"],
	.error input[type="email"], 
	.error input[type="date"], 
	.error input[type="tel"], 
	.error input[type="number"], 
	.error textarea { border-bottom:2px solid #C1272D; }


/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */
	.button {
		position:relative; margin:0 auto; outline:none; display:block; width:100%; height:40px; line-height:40px; background:#007fc5; margin-top: 10px;
		font-family: Arial,  Helvetica, sans-serif;color:#fff; font-size: 116.0%;font-weight:bold; font-style: normal; font-variant: normal; letter-spacing: 1px; text-align: center; text-transform: uppercase;text-decoration:none; text-transform:uppercase; 
		-webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s;
	}
	.button:hover{letter-spacing: 5px;}



