<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="es"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="es"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
      <meta charset="utf-8" />

      <meta name="rating" content="general" />
      <meta name="Revisit-After" content="1 Days"/>
      <meta name="robots" content="index,follow" />
      <meta name="author" content="Diego De Dieu" />

      <meta name="title" content="Thef" />
      <meta name="keywords" content="" />
      <meta name="description" content="" />

      <meta property="og:title" content="" />
      <meta property="og:description" content="" />
      <meta property="og:url" content="" />
      <meta property="og:image" content="" />

      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

      <title>Work - Diego De Dieu</title>

      <link href="../img/favicon.png" rel="shortcut icon"/>

      <link rel="stylesheet" href="../css/tef-reset.css" />
      <link rel="stylesheet" href="../css/tef-styles.css" />

      <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="../css/tef-styles-ie8.css" />
        <![endif]-->
      
      <!-- Included Main JS Files -->
      <script src="../js/lib/jquery/tef-modernizr.js"></script>
      <script src="../js/lib/jquery/jquery-1.9.1.js"></script>
      <script src="../js/lib/jquery/placeholders.min.js"></script>

      <!--[if lt IE 9]>
      <script type="text/javascript">
         document.createElement("header");
         document.createElement("footer");
         document.createElement("section");
      </script>
      <![endif]-->

    </head>
   <body>
      <header class="cont-general">
         <div class="logo">
            <img src="http://placehold.it/290x76/ffffff?text=LOGO" alt="LOGO">
         </div>
      </header>
      <section class="form">
         <div class="cont-general headImage">
            <div class="title">LOREM IPSUM DOLOR SIT...</div>
            <div class="discount">
               <h1><sup>$</sup>999</h1>
               <p>LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISICING ELIT SIT AMET LOREM MUSPI<br /><span>LOREM-IP.</span></p>
            </div>
            <div class="formContainer desktop">
               <h2>Obtén tu descuento:</h2>
               <ul class="formbody">
                    <li><input type="text" placeholder="Nombre" /></li>
                    <li><input type="text" placeholder="Apellido" /></li>
                    <li class="error"><input type="text" placeholder="E-mail" /></li>
                    <li><input type="text" placeholder="Teléfono" /></li>
                    <li class="warning">Error</li>
                    <li class="getUpdates"><input type="checkbox" name="acceptInfo" id="c1"><label for="c1"><span></span></label>Deseo recibir notifiaciones de ofertas y promociones</li>
                    <li><a href="ok.html" class="btn_send">ENVIAR</a></li>
                </ul>
            </div>
         </div>
         <div class="formContainer mobile">
            <h2>Obtén tu descuento:</h2>
            <ul class="formbody">
                 <li><input type="text" placeholder="Nombre" /></li>
                 <li><input type="text" placeholder="Apellido" /></li>
                 <li class="error"><input type="text" placeholder="E-mail" /></li>
                 <li><input type="text" placeholder="Teléfono" /></li>
                 <li class="warning">Error</li>
                 <li class="getUpdates"><input type="checkbox" name="acceptInfo" id="c2"><label for="c2"><span></span></label>Deseo recibir notifiaciones de ofertas y promociones</li>
                 <li><a href="#" class="btn_send">ENVIAR</a></li>
             </ul>
         </div>
      </section>
      <section class="main cont-general">
         <div class="generadores">
            <ul>
               <li>
                  <div class="container">
                     <img src="http://placehold.it/238x187/EF1B2B/ffffff?text=PRODUCTO" alt="">
                     <h2>MODELO</h2>
                     <p>Precio Regular $ 1,899<br />Descuento $ 200</p>
                     <hr>
                     <div class="price">$1,699 <span>Precio Especial</span></div>
                  </div>
               </li>
               <li>
                  <div class="container">
                     <img src="http://placehold.it/238x187/EF1B2B/ffffff?text=PRODUCTO" alt="">
                     <h2>MODELO</h2>
                     <p>Precio Regular $ 1,899<br />Descuento $ 200</p>
                     <hr>
                     <div class="price">$1,699 <span>Precio Especial</span></div>
                  </div>
               </li>
               <li>
                  <div class="container">
                     <img src="http://placehold.it/238x187/EF1B2B/ffffff?text=PRODUCTO" alt="">
                     <h2>MODELO</h2>
                     <p>Precio Regular $ 1,899<br />Descuento $ 200</p>
                     <hr>
                     <div class="price">$1,699 <span>Precio Especial</span></div>
                  </div>
               </li>
               <li>
                  <div class="container">
                     <img src="http://placehold.it/238x187/EF1B2B/ffffff?text=PRODUCTO" alt="">
                     <h2>MODELO</h2>
                     <p>Precio Regular $ 1,899<br />Descuento $ 200</p>
                     <hr>
                     <div class="price">$1,699 <span>Precio Especial</span></div>
                  </div>
               </li>
               <li>
                  <div class="container">
                     <img src="http://placehold.it/238x187/EF1B2B/ffffff?text=PRODUCTO" alt="">
                     <h2>MODELO</h2>
                     <p>Precio Regular $ 1,899<br />Descuento $ 200</p>
                     <hr>
                     <div class="price">$1,699 <span>Precio Especial</span></div>
                  </div>
               </li>
               <li>
                  <div class="container">
                     <img src="http://placehold.it/238x187/EF1B2B/ffffff?text=PRODUCTO" alt="">
                     <h2>MODELO</h2>
                     <p>Precio Regular $ 1,899<br />Descuento $ 200</p>
                     <hr>
                     <div class="price">$1,699 <span>Precio Especial</span></div>
                  </div>
               </li>
               <li>
                  <div class="container">
                     <img src="http://placehold.it/238x187/EF1B2B/ffffff?text=PRODUCTO" alt="">
                     <h2>MODELO</h2>
                     <p>Precio Regular $ 1,899<br />Descuento $ 200</p>
                     <hr>
                     <div class="price">$1,699 <span>Precio Especial</span></div>
                  </div>
               </li>
               <li>
                  <div class="container">
                     <img src="http://placehold.it/238x187/EF1B2B/ffffff?text=PRODUCTO" alt="">
                     <h2>MODELO</h2>
                     <p>Precio Regular $ 1,899<br />Descuento $ 200</p>
                     <hr>
                     <div class="price">$1,699 <span>Precio Especial</span></div>
                  </div>
               </li>
            </ul>
         </div>
      </section> 
      <footer class="cont-general">
         <div class="leftText">
            <div class="warranty">*Garantía <span>de 3 años</span> <img src="http://placehold.it/75x72/EF1B2B/ffffff?text=IMG" alt="Garantía"></div>
            <div class="items">
               <ul>
                  <li>Lorem ipsum dolor sit</li>
                  <li>Consectetur adipisicing elit.</li>
                  <li>Accusantium magnam accusamus.</li>
                  <li>Necessitatibus a placeat et quod.</li>
                  <li>Consequatur, officia eaque quidem tempora.</li>
               </ul>
            </div>
         </div>
         <div class="rightText">
            <img src="http://placehold.it/274x111/EF1B2B/ffffff?text=LOGO+FOOTER" alt="LOGO FOOTER">
            <p>Consequatur. officia eaque quidem tempora,<br />Lorem ipsum, DL</p>
            <span>111-222-3333<br /></span>
            <a href="#" class="social desktop"><span class="fb"></span>facebookurl</a>
         </div>
         <div class="bottomText">
            <div class="bella">Una división de <img src="http://placehold.it/83x30/202748/ffffff?text=LOGO" alt="LOGO"></div>
            <a href="#" class="social mobile"><span class="fb"></span>facebookurl</a>
            <div class="sections">Lorem • Ipsum • Dolor</div>
            <hr>
            <div class="littleText">* Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur saepe, rem repellendus corrupti quam, quae modi placeat asperiores eius facilis obcaecati quas impedit quo totam vel laboriosam rerum, necessitatibus.</div>
         </div>
      </footer>  
   </body>
</html>