section.main .cars .features {width: 120%;}
.form .formfields ul.formbody>li.ie8 {margin-right: 0;}
section.detail .formfields ul li input[type="checkbox"] {display: block; position: absolute; z-index: 2; top: 8px; left: 0px; margin-right: 5px;}
input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="tel"], input[type="number"] {line-height: 44px;}
.select-mobile select option {border: 0; background:red; height: 200px;}
section.detail .formfields ul li input[type="checkbox"] + label span {background: transparent; margin-right: 12px;}
section.detail .formfields ul li input[type="checkbox"] + label span:hover {background-color: transparent;}
section.detail .formfields ul li input[type="checkbox"]:checked + label span:hover {background-color: transparent;}
.form .formfields a.btn_send:hover {zoom: 0.9;}
.form .formfields a.btn_send:hover span {margin-left: 25px;}
.form .formfields a.btn_send:hover:before {top: 25px; left: -41px;}
.form .formfields a.btn_send:hover:after {top: 25px; right: -49px;}
.cars > a:hover ~ #tooltip {position: absolute; top: 35%; left: 40%; width: 240px;}